@using Microsoft.AspNetCore.Mvc.Localization
@using Session2.Controllers
@{
    ViewData["Title"] = "Home Page";
}
@inject IHtmlLocalizer<HomeController> HtmlLocalizer;

<div class="text-center">
    <h1 class="display-4">@HtmlLocalizer["welcome"]</h1>
    <p>@HtmlLocalizer["learnabout"] <a href="https://learn.microsoft.com/aspnet/core">@HtmlLocalizer["buildwebapp"]</a>.</p>
    <p>@HtmlLocalizer["currentlanguage"]: @(Thread.CurrentThread.CurrentUICulture.DisplayName)</p>
</div>
