@using Microsoft.AspNetCore.Mvc.Localization
@using Session2.Controllers
@{
    ViewData["Title"] = "Home Page";
}
@inject IViewLocalizer localizer;
@inject IHtmlLocalizer<HomeController> HtmlLocalizer;

<div class="text-center">
    <h1 class="display-4">@localizer["welcome"]</h1>
    <p>@localizer["learnabout"] <a href="https://learn.microsoft.com/aspnet/core">@localizer["buildingwebapps"]</a>.</p>
    <p>@localizer["currentlanguage"]: @(Thread.CurrentThread.CurrentUICulture.DisplayName)</p>
</div>
